<ion-view title="" id="firstPage" class="gradiantBG">
    <ion-nav-bar class="bar-stable bar-transparent">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button ng-click="Skip()" class="button button-clear">Skip</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header" scroll="false">
        <div class="spacer" style="width: 300px; height: 105px;"></div>
        <h1 id="firstPage-heading3" style="color:#000000;font-style:normal;font-weight:bold;text-align:center;" class="">Iran Audio Guide</h1>
        <p id="firstPage-markdown6" style="color:#000000;text-align:center;" class="">your ultimate guide</p>
        <div class="spacer" style="width: 300px; height: 166px;"></div>
        <!--<button ui-sref="tabsController.home" id="firstPage-button5" class="button button-assertive button-large button-block">Sign in with Google</button>-->
        <a ng-click="googleLogin()" id="firstPage-button5" class="button button-assertive button-block center">Sign in with Google</a>
        <button ui-sref="secondPage" id="firstPage-button6" class="button button-light  button-block button-clear  center">Don't have Google?</button>
    </ion-content>
</ion-view>