<style>
    .swiper-slide 
{
    height: 102% !important;
}


#page2 .swiper-pagination {
    position: relative !important;
    padding-top: 0px !important;
    bottom: 30px !important; 
}
#page2 .swiper-container {
    overflow-y: hidden !important; 
    position: relative !important;
}


/*.hcitydesc
{
white-space: normal;
    position: absolute;
    bottom: 0;
    left: 5px;
    color: white;
    background-color: #144482;
    padding: 0px 8px;
    font-size: small;
    border-radius: 3px;
    margin-bottom: 5px;
}
.hcityname
{
    padding-top: 10px;
    position: relative;
    padding-left: 10px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.mycard
{
        /* width: 100%; */
    /*min-height: 175px;
    background-size: 100% !important;
    box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.8) inset;
    border-radius: 5px;
    margin: 5px auto !important;*/
}
/*.mycardwrapper
{
    width: 350px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    margin: 0 auto;
    border-radius: 5px;
}*/
</style>
<ion-view id="page2">
    <ion-nav-title>
        <img src="img/IAGappHeaderLOGO.png">
        <p>{{PageTitle}}</p>
    </ion-nav-title>
    <ion-content padding="false" class="has-header">
        <ion-slides disable-side-menu-drag="" options="options" slider="HomePageSlider" delegate-handle="HomePageSlider" id="HomePage-slider" style="width:calc(100% + 1px);height:200px;margin-left:0px;">
            <ion-slide-page id="HomePage-slide1" style="background:url('img/AppSlide11.jpg') no-repeat top center;background-size:contain;"></ion-slide-page>
            <ion-slide-page id="HomePage-slide2" style="background:url('img/AppSlide21.jpg') no-repeat top center;background-size:contain;"></ion-slide-page>
            <ion-slide-page id="HomePage-slide3" style="background:url('img/AppSlide31.jpg') no-repeat top center;background-size:contain;"></ion-slide-page>
            <ion-slide-page id="HomePage-slide4" style="background:url('img/AppSlide41.jpg') no-repeat top center;background-size:contain;"></ion-slide-page>
            <ion-slide-page id="HomePage-slide5" style="background:url('img/AppSlide51.jpg') no-repeat top center;background-size:contain;"></ion-slide-page>
        </ion-slides>

        <!--<div class="mycardwrapper" ng-repeat="city in Cities">
            <div id="HomePage-list-item{{city.Id}}" ng-click="goToSearchPage(city.Id)" style="background:url('{{city.ImageUrl}}') no-repeat center center;" class="list card mycard">
                <h2 class="hcityname" ng-bind="city.Name"></h2>
                <p class="hcitydesc" ng-bind="city.Desc" style="white-space:normal;"></p>
            </div>
        </div>-->
        <ion-list id="HomePage-list1" class="manual-list-fullwidth">
            <!--<ion-item class="item-divider" id="HomePage-list-item-divider1"> </ion-item>-->
            <ion-item class="item-thumbnail-left item-icon-right"
                      ng-repeat="city in Cities"
                      id="HomePage-list-item{{city.Id}}"
                      ng-click="goToSearchPage(city.Id)">
                <img ng-src="{{city.ImageUrl}}">
                <h2  ng-bind="city.Name"></h2>
                <p  ng-bind="city.Desc"></p>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
