<ion-view title="" id="recoverPage" class="gradiantBG">
    <ion-nav-bar class="bar-stable bar-transparent">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <h4 id="recoverPassword-heading5" style="color:#000000;text-align:center;" class=" ">Enter the Email for your account</h4>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <form id="recoverPasswordForm" class="list" ng-submit="recoverPass(email)">
            <label class="item item-input " id="recoverPassword-input11">
                <span class="intputLable ion-email"></span>
                <input type="email" placeholder="Email" name="email" ng-model="email" required>
            </label>
            <div class="padding assertive">
                <p ng-show="email.$invalid && !email.$pristine">* Invalid email address</p>
                <p ng-show="email.$error.minlength">* Emal must be longer than 5 characters</p>
            </div>
            <button ng-disabled="email.$invalid" type="submit" id="recoverPassword" class="button center button-positive button-block">
                <i class="icon ion-ios-color-wand" style="color:white;"></i><text>&emsp;Recover</text>
            </button>
        </form>
    </ion-content>
</ion-view>