<ion-view id="page4">
    <ion-nav-title>
        <img src="img/IAGappHeaderLOGO.png">
        <p>{{PageTitle}}</p>
    </ion-nav-title>
    <ion-content padding="false" class="has-header">
        <form class="list">
            <label class="item item-select ic-selected">
                <span class="input-label" aria-label="Category" id="_label-2">Category</span>
                <select ng-change="CitySelected(SelectedCity)" ng-model="SelectedCity">
                    <option ng-repeat="city in Cities" value="{{city.Id}}">{{city.Name}}</option>
                </select>
            </label>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="search"
                       ng-change='searchPlaces(search)'
                       placeholder="Place Name">
                <span style="min-width: 20px;" class="ClearBtn" ng-show="search.length" ng-click="Clear()">
                    <i class="icon ion-close-circled"></i>
                </span>
            </label>
            <ion-list>
                <ion-item class="item-remove-animate item-thumbnail-left item-icon-right homeItems"
                          ng-repeat="place in selectedPlaces" type="item-text-wrap"
                          ui-sref={{place.uiSref}}>
                    <img ng-src="{{place.logo}}">
                    <h2 style="color:black;">{{place.name}}</h2>
                    <p style="font-size: 0.69em; background: #144482; color: #ffffff !important; padding: 0px 6px;display: inline-block;border-radius: 3px;">{{place.city}}</p>
                    <p>{{place.address}}</p>
                    <i ng-show="place.isAutorized" class="icon ion-chevron-right"></i>
                    <i ng-show="!place.isAutorized" class="icon ion-locked"></i>
                    <!--<ion-option-button ng-show="!place.bookmarked && place.isAutorized"
                                       ng-click="bookmark(place.Id)"
                                       class="likeBtn text-center">
                        <i class="icon ion-bookmark dark" style="color:#444!important"></i>

                    </ion-option-button>
                    <ion-option-button ng-show="place.bookmarked && place.isAutorized"
                                       class="likeBtn text-center">
                        <i class="icon ion-bookmark positive" style="color:#387ef5!important"></i>
                    </ion-option-button>-->
                </ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-view>