<ion-view title="" id="secondPage" class="gradiantBG">
    <ion-nav-bar class="bar-stable bar-transparent">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button ng-click="Skip()" class="button button-clear">Skip</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header" scroll="false">
        <div class="spacer" style="width: 300px; height: 105px;"></div>
        <h1 id="firstPage-heading3" style="color:#000000;font-style:normal;font-weight:bold;text-align:center;" class="">Iran Audio Guide</h1>
        <p id="firstPage-markdown6" style="color:#000000;text-align:center;" class="">your ultimate guide</p>
        <div class="spacer" style="width: 300px; height: 136px;"></div>
        <button ui-sref="signup" id="secondPage-button14" class="center button button-balanced  button-block icon ion-log-in" href="#/signup">&emsp; Create an account</button>
        <button ui-sref="login" id="secondPage-button15" class="button button-small button-block button-clear center" href="#/login ">
            <i class="icon ion-help-circled"></i>

            <text style="color: #144482;">&nbsp; Already have an account?</text>
        </button>
    </ion-content>
</ion-view>