<ion-view title="" id="signupPage" class="gradiantBG">
    <ion-nav-bar class="bar-stable bar-transparent">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button ng-click="Skip()" class="button button-clear">Skip</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header" scroll="true">
        <form name="signupForm" ng-submit="Register(user)" id="signupForm" class="list" novalidate>
            <div class="spacer" style="width: 300px; height: 25px;"></div>
            <h3 id="signup-heading2" style="color:#000000;text-align:center;" class="">Create your account</h3>
            <p id="signup-markdown4" style="color:#000000;text-align:center;" class="">Sign up with Google or Email</p>
            <div class="spacer" style="width: 300px; height: 18px;"></div>
            <button ng-click="googleLogin()" id="signup-button11" class="center button button-assertive  button-block icon ion-social-google-outline" style="font-size:">&nbsp; Google</button>
            <p id="signup-markdown5" style="color:#000000;text-align:center;" class="">or</p>
            <ion-list id="signup-list2" class="">
                <label class="item item-input " id="signup-input5">
                    <span class="intputLable ion-email"></span>
                    <input name="email" ng-model-options="{ debounce: 1000 }" ng-model="user.email" type="email" placeholder="Email" ng-minlength="5" required>
                </label>
                <label class="item item-input " id="signup-input6">
                    <span class="intputLable ion-key keyicon"></span>
                    <input name="password" ng-model-options="{ debounce: 1000 }" ng-model="user.password" type="password" placeholder="Password" ng-minlength="6" required>
                </label>
                <label class="item item-input " id="signup-input7">
                    <span class="intputLable ion-ios-checkmark-empty"></span>
                    <input name="confirmPassword" ng-model-options="{ debounce: 500 }" ng-model="user.confirmPassword" type="password" placeholder="Confirm password" required>
                </label>
                <div class="padding assertive">
                    <!--<p ng-show="signupForm.email.$error.required">* Email is required</p>-->
                    <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine">* Invalid email address</p>
                    <p ng-show="signupForm.email.$error.minlength">* Emal must be longer than 5 characters</p>
                    <!--<p ng-show="signupForm.password.$error.required">* Password is required</p>-->
                    <p ng-show="signupForm.password.$error.minlength">* Password must be longer than 6 characters</p>
                    <p ng-show="user.confirmPassword.length && user.password != user.confirmPassword">* Confirm password must match previous password</p>
                </div>
                <button type="submit" id="signup-button3" ng-disabled="signupForm.$invalid || user.password != user.confirmPassword" class="center button button-positive  button-block icon ion-log-in" disabled="disabled">&nbsp; Sign up</button>
            </ion-list>
            <a ui-sref="login" id="signup-button13" class="center button button-default button-block button-clear" href="#/login"> <i class="icon ion-thumbsup"></i> <text style="color:#144482;">&nbsp; Already have an account?</text></a>
        </form>
    </ion-content>
</ion-view>